In [34]:
import pandas as pd

In [35]:
data={"name":["ravi","rahul","menon"],"age":[23,24,25],"salary":[20000,25000,30000]}
print(data)

{'name': ['ravi', 'rahul', 'menon'], 'age': [23, 24, 25], 'salary': [20000, 25000, 30000]}

In [36]:
d=pd.DataFrame(data)
(d)

    name  age  salary
0   ravi   23   20000
1  rahul   24   25000
2  menon   25   30000

In [37]:
d.to_csv("output.csv",index=False)

In [38]:
import os

In [39]:
print(os.getcwd())

/Users/christinmendez/python libraries/pandas

In [40]:
ac=pd.read_csv("/Users/christinmendez/python libraries/pandas/output.csv")
(ac)

    name  age  salary
0   ravi   23   20000
1  rahul   24   25000
2  menon   25   30000

In [41]:
d.to_excel("output.xlsx",index=False)

## series

In [43]:
x=[1,2,3,4,5]
print(x)

[1, 2, 3, 4, 5]

In [44]:
y=pd.Series(x)
print(y)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [45]:
import numpy as np

In [46]:
array=np.array([10,20,30,40,50])
print(array)

[10 20 30 40 50]

In [47]:
z=pd.Series(array)
print(z)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [48]:
it={"name":"christin","age":23,"salary":20000}
(it)

{'name': 'christin', 'age': 23, 'salary': 20000}

In [49]:
u=pd.Series(it)
(u)

name      christin
age             23
salary       20000
dtype: object

In [50]:
print(u.dtype)

object

In [51]:
print(u.index)

Index(['name', 'age', 'salary'], dtype='object')

In [52]:
print(u.values)

['christin' 23 20000]

In [53]:
u[0]

/var/folders/gb/n11cchwj5y9dnszkf3vqk1zr0000gn/T/ipykernel_62849/536869948.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  u[0]

'christin'

In [54]:
y.mean()

3.0

In [55]:
y.sum()

15

In [56]:
y.min()

1

In [57]:
y.max()

5

TypeError: 'builtin_function_or_method' object is not subscriptable